    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    p {
        color: #FFFFFF;
    }
    
    .headerdoble {
        display: flex;
        flex-direction: row;
    }
    
    .header {
        width: 300px;
        display: flex;
        background-color: #38CA49;
        padding: 20px;
        justify-content: center;
    }
    
    .menu0 {
        width: 1200px;
        height: 100px;
        display: flex;
        background-color: #FEDA31;
        padding: 20px;
        justify-content: center;
    }
    
    .content1 {
        display: flex;
        background-color: #ED25BC;
        padding: 150px;
        justify-content: center;
    }
    
    .content2-1 {
        display: flex;
        width: 1500px;
    }
    
    .content2-2 {
        display: flex;
        flex-direction: row;
    }
    
    .content2 {
        background-color: #1277D6;
        display: flex;
        padding: 70px;
        width: 500px;
        justify-content: center;
    }
    
    .content3 {
        background-color: #FFFFFF;
        display: flex;
        padding: 70px;
        width: 500px;
        justify-content: center;
    }
    
    .content4 {
        background-color: #FC433E;
        display: flex;
        padding: 35px;
        width: 500px;
        justify-content: center;
    }
    
    .footer {
        display: flex;
        background-color: #AF22C6;
        padding: 17px;
        justify-content: center;
    }
    
    .content36 {
        background-color: #2AFD77;
        padding: 35px;
        justify-content: center;
    }