.order1 {
    padding: 110px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.con-des {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.con-des1 {
    width: 250px;
    height: 350px;
    border: 1px solid salmon;
    padding: 30px;
}